# [Commit Signature Verification](https://docs.github.com/en/authentication/managing-commit-signature-verification/about-commit-signature-verification)

- Commit signature verification is used to give other people confidence about the origin of a change made by you.
- If a commit has a GPG, SSH or S/MIME signature then Github marks the commit or tag "**Verified**" or "**Partially Verified**".
- **Persistent commit signature verification** is a feature that allows persistent records for the contributions within a repository.
- Once a commit signature is verified, it remains verified within its repository's network.
- Records **persist** even after revocation and expiration.
- The verification record is **scoped** to its repository network.
- Refer to [GPG Commit Signature Verification](https://docs.github.com/en/authentication/managing-commit-signature-verification/about-commit-signature-verification#gpg-commit-signature-verification) to generate and sign commits.

